.row
  .col-md-9
    .clearfix
      -@books.each do |book|
        .book-wrap   
          =link_to(book) do
            .image-wrap=image_tag book.image.thumb.url.to_s
            =book.title
          .price= number_to_currency(book.price)
    .pagination-wrap=paginate @books

  .col-md-3
    %h4 Shop by categories:
    %ul.categories 
      -@categories.each do |category|
        %li= link_to category.title, category