.container
  %h1 Chart
  .row.cart  
    -if @current_order
      =form_tag '/orders/:id', method: :put do
        =render "order_items_list"
        .col-md-6
          =link_to "Empty cart", @current_order, class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" }
          =link_to "Continue shopping", books_path, class: "btn btn-primary"
        .col-md-6.right-btns 
          =link_to "Checkout", checkout_address_orders_path, class: "btn btn-success pull-right checkout-btn"
          =submit_tag "Update", class: "btn btn-default pull-right"

    -else 
      .col-md-12 
        Cart is empty. Find book you wish in
        =link_to "shop", books_path
        and click "Order" button. 