.container
  .row
    .col-md-12
      -if current_customer
        =link_to orders_path do
          .span{class: 'glyphicon glyphicon-chevron-left'}
          all your orders
      %h1
        -if current_page?(checkout_complete_orders_path)
          ="Congrats! Your order ##{@order.id} was successfully placed."
          %br/
          %small We'll call you soon to confirm it. 
        -else
          Order #
          =@order.id
  =render partial: "order_details", locals: {order: @order}
