/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

img {max-width: 100%;}

body {
  background-color: #eee;
  min-width: 960px;
  h1 {margin-bottom:30px;}
}

.notifications {
  .alert {margin-bottom:0px;}
}

.header {
  .nav li a.active {
    color: #FFF;
    background-color: #337ab7;
  }
  .navbar-brand a {
    margin-right: 100px;
    font-style: bold;
  }
}

.book-wrap {
  float:left;
  width:30%;
  padding: 2%; 
  margin-right: 3%;
  background-color: #fff;
  text-align:center;
  margin-bottom: 30px;
  border-radius: 3px;
  .image-wrap {
    margin-bottom: 10px;
  }
}

.categories {
  list-style:none;
  padding-left: 0px;
  margin-top: 30px;
  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.book-page-wrap {
  .image-wrap {
    text-align:center;
  }
  .price {
    width: 100px;
    float: left;
    font-size: 30px;
  }
  .order-form-wrap {
    width: 200px;
    float:right;
    .quantity-input {width: 50px; padding: 4px 10px;}
    margin-bottom: 20px;
  }
}

.reviews {
  margin-top: 50px;
  .add-review-lnk {margin-top: 30px;}
  .review {
    margin: 20px 0px 40px;
    time {color: #999; display:inline-block;margin-left: 20px;}
    .review-authour {display:inline-block; margin-left: 20px;}
    p {margin-top: 15px;}
  }
}

.star-rating {margin-bottom:-6px;}
