// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cart {
  .table {
    tbody {
      background-color: #fff;
      img {margin-right: 10px;}
      tr td {
        vertical-align: middle;
        .quantity-input {
          text-align: center;
        }
      }
      .remove_link {
        a {
          font-size:20px;
          font-weight: bold;
          color: #D88484;
          &:hover {
            text-decoration:none;
            color: #AF4E4E;
          }
        }
      }
    }
  }
  .order-summary-block {
    margin-bottom:20px;
    .order-summary-line {
      margin-right:17%;
      text-align: right !important;
      span {padding-left: 10px; display: inline-block; min-width:50px;}
      &.main {font-weight: bold;}
      margin-bottom: 10px;
    }
  }
  .right-btns {
    .checkout-btn {margin-left:5px; margin-right: 13%;}
  }
}

.checkout {
  .checkout-nav {
    margin: 25px 0px 0px 0px;
    .active {
      box-shadow: none !important;
    }
  }
  .margin-bot-add {
    margin-bottom: 53px;
  }
  .summary-line {
    font-size: 16px;
    margin-bottom:10px;
    max-width: 200px;
    span {
      font-weight: bold;
      float:right;
    }
  }
  .ship-address-form-fields .hidden {
    display:none;
  }
  .radio {
    padding: 0px 0px 6px 50px 
  }
  .cvv-field {width: 70px;}
}