// Place all the styles related to the Ratings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews {
  margin-top: 50px;
  .add-review-lnk {margin-top: 30px;}
  .review {
    margin: 20px 0px 40px;
    time {color: #999; display:inline-block;margin-left: 20px;}
    .review-authour {display:inline-block; margin-left: 20px;}
    p {margin-top: 15px;}
  }
}

.star-rating {margin-bottom:-6px;}