.container
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li= link_to 'Shop', books_path
    %li.active= @category.title
  %h1 Books in category '#{@category.title}'
  .row
    =render "books/books_list"
    =render 'categories/index'