.container
  %ol.breadcrumb
    %li= link_to 'Home', root_path
    %li= link_to 'Shop', shop_path
    %li.active= @category.title
  %h1 Books in category '#{@category.title}'
  =render 'shared/books_and_categories'